html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Box sizing
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}


// IMAGEN
figure {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

